@import "../../../../../scss-helpers/variables";

.wrapper {
  text-align: center;
  color: $spectre-text;
  p {
    font-size: 1.3em;
    line-height: 25px;
  }
  svg {
    transform: scale(0.2);
    position: absolute;
    left: 1%;
    top: -38%;
    animation: warn 0.9s ease-in-out infinite;
    .st0,
    .st1 {
      fill: white;
      stroke: $spectre-warn-pink;
      stroke-width: 0.5;
      fill: white;
      stroke-dasharray: 240;
      stroke-dashoffset: 0;
      animation: check 0.9s ease-in-out infinite;
    }

    .st1 {
      stroke-width: 1.3;
    }
    @keyframes check {
      0% {
        stroke-dashoffset: 240;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes warn {
      0% {
        transform: scale(0.2);
        opacity: 0.3;
      }

      50% {
        transform: scale(0.3);
        opacity: 1;
      }
      100% {
        transform: scale(0.2);
        opacity: 0;
      }
    }
  }

  .deletePanelBtn {
    padding: 2px 30px;
    margin-left: 10px;
    outline: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    background: $spectre-warn-pink;
    border: 1px solid $spectre-warn-pink;
    color: white;
    &:hover {
      opacity: 0.9;
    }
    &:nth-child(2) {
      background: none;
      color: $spectre-text;
      border: 1px solid $spectre-text;
      &:hover {
        color: white;
        background: #444444a8;
        border: 1px solid #444444a8;
      }
    }
  }
  .buttons {
    position: absolute;
    bottom: 10%;
    left: 23%;
  }
}
