<div class="register-form form">
  <h1 mat-dialog-title>Sign up</h1>
  <svg (click)="dialog.closeAll()" height="24" viewBox="0 0 24 24" width="24">
    <path d="M0 0h24v24H0z" fill="none" />
    <path
      d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
    />
  </svg>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput placeholder="First name" formControlName="firstName" />
      <mat-error>First name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Last name" formControlName="lastName" />
      <mat-error>Last name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>

      <input
        matInput
        placeholder="pat@example.com"
        type="email"
        name="email"
        formControlName="email"
        [email]="true"
      />
      <mat-error>{{ emailErrMsg }}</mat-error>
    </mat-form-field>

    <mat-form-field class="pw" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <mat-error>Password is required</mat-error>
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        mat-flat-button
        color="accent"
        class="btn"
        type="submit"
        [disabled]="!formGroup.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
