@import "./variables";

h1,
button {
  text-align: center;
}
h1 {
  font-size: 1.4em;
}
button {
  background: $spectre-light-green;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 35px;
  border-radius: 5px;
  position: absolute;
  bottom: 11%;
  left: 40.5%;
  transition: 0.2s ease-in-out;
}
img {
  position: absolute;
  left: 38%;
  transform: scale(0.8);
  top: 29%;
  animation: construction 3s ease-in-out infinite;
  @keyframes construction {
    0% {
      left: 38%;
      transform: rotateY(0deg);
    }

    25% {
      left: 70%;
    }

    50% {
      transform: rotateY(-180deg);
    }
    75% {
      left: 15%;
    }
    100% {
      left: 38%;
      transform: rotateY(10deg);
    }
  }
}
svg {
  transform: scale(0.18);
  position: absolute;
  left: 1%;
  top: -38%;
  animation: alert 0.7s ease-in-out infinite;
  .st0,
  .st1,
  .st2 {
    fill: white;
    stroke: $spectre-warn-pink;
    stroke-width: 1;
    fill: white;
    stroke-dasharray: 240;
    stroke-dashoffset: 0;
    animation: block 0.7s ease-in;
  }

  @keyframes block {
    0% {
      stroke-dashoffset: 240;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes alert {
    0% {
      transform: scale(0.18);
    }

    50% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(0.18);
    }
  }
}
