@for $i from 1 through 10 {
  .card:nth-child(1n + #{$i}) {
    animation: cardIntro $i/4 + 0s;
  }
}

.wrapper {
  font-family: "Raleway", sans-serif;
  height: 600px;
  width: 70%;
  margin: 10% 15%;
  display: flex;
  justify-content: space-between;

  .create-new-btn {
    background-image: linear-gradient(to right, #08837d, $spectre-light-green);
    font-size: 2em;
    font-weight: 300;
    border-radius: 3px 30px;
    width: 230px;
    height: 230px;
    color: white;
    transition: 0.2s;
    box-shadow: 0px 0px 15px 0px rgba(64, 224, 208, 0.15);
    margin-top: 155px;
    animation: cardIntro 0.6s;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0px 0px 40px 0px rgba(64, 224, 208, 0.15);
      border-radius: 3px;
    }
    &:active {
      transform: scale(1);
      box-shadow: 0px 0px 15px 0px rgba(64, 224, 208, 0.15);
    }
    mat-icon {
      font-size: 4.5em;
      position: absolute;
      top: 9%;
      left: 20%;
    }
    span {
      position: absolute;
      bottom: 13%;
      left: 21%;
    }
    .dash {
      font-size: 4em;
      left: 28%;
      span {
        font-size: 0.2em;
      }
    }
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border-left: 1px solid rgba(255, 255, 255, 0.219);
    padding-left: 2.9%;
  }
  .card {
    height: 200px;
    width: 180px;
    padding: 20px 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    color: $spectre-text;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }
    h1 {
      text-align: center;
      font-size: 1.3em;
      text-transform: uppercase;
      border-bottom: 1px solid $spectre-light-green;
      padding-bottom: 2%;
    }
    p {
      span {
        text-transform: uppercase;
        margin-left: 5px;
        font-size: 1.2em;
      }
      &:nth-child(2) {
        margin-top: 40px;
      }
    }
    .cardBtn {
      margin-left: 10px;
      color: white;
      &:hover {
        opacity: 0.9;
      }
      &:nth-child(1) {
        width: 72px;
      }
    }
    .buttons {
      position: absolute;
      bottom: 9%;
      left: 10.4%;
    }
  }

  li {
    color: white;
  }
  @keyframes cardIntro {
    0% {
      opacity: 0;
      transform: rotateY(90deg) translateY(10px);
    }

    100% {
      opacity: 1;
      transform: rotateY(0deg) translateY(0px);
    }
  }
}
#dashViewBtn {
  width: 100px;
  left: 25%;
}
#template {
  text-transform: uppercase;
}
