.watermark {
  color: white;
  font-size: 70em;
  position: absolute;
  bottom: 40.5%;
  left: -10%;
  opacity: 0.02;
  letter-spacing: -30px;
  z-index: -1;
  animation: watermark 0.3s ease-in;
}
@keyframes watermark {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.02;
  }
}
