<div mat-dialog-content>
  <h1 mat-dialog-title>You can create only one team!</h1>
</div>
<svg
  version="1.1"
  id="Layer_1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 50 50"
  style="enable-background: new 0 0 50 50"
  xml:space="preserve"
>
  <circle class="st0" cx="25" cy="25" r="21" />

  <polyline class="st1" points="34.58,33.74 18.95,18.32 15.9,15.3 " />
  <polyline class="st2" points="33.23,14.97 18.19,30.95 15.24,34.08 " />
</svg>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="dialog.closeAll()">Ok</button>
</div>
