<mat-toolbar>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 53.11 57.11"
    style="enable-background: new 0 0 53.11 57.11"
    xml:space="preserve"
  >
    <style type="text/css">
      .st0 {
        fill: #ffffff;
      }
      .st1 {
        fill: #ffffff;
      }
      .st2 {
        fill: #ffffff;
      }
    </style>
    <g>
      <linearGradient
        id="SVGID_1_"
        gradientUnits="userSpaceOnUse"
        x1="3.6848"
        y1="10.0469"
        x2="48.056"
        y2="10.0469"
      >
        <stop offset="0" style="stop-color: #079992" />
        <stop offset="1" style="stop-color: #0a3d62" />
      </linearGradient>
      <path
        class="st0"
        d="M33.54,18.09H3.68v0C3.68,9.21,10.89,2,19.78,2h27.49c0.44,0,0.79,0.35,0.79,0.79v0.79
         C48.06,11.6,41.56,18.09,33.54,18.09z"
      />
      <linearGradient
        id="SVGID_2_"
        gradientUnits="userSpaceOnUse"
        x1="3.6848"
        y1="47.2865"
        x2="48.056"
        y2="47.2865"
      >
        <stop offset="0" style="stop-color: #079992" />
        <stop offset="1" style="stop-color: #0a3d62" />
      </linearGradient>
      <path
        class="st1"
        d="M32.79,55.33H4.52c-0.46,0-0.83-0.37-0.83-0.83v0c0-8.43,6.83-15.26,15.26-15.26h29.11v0.83
         C48.06,48.5,41.22,55.33,32.79,55.33z"
      />
      <linearGradient
        id="SVGID_3_"
        gradientUnits="userSpaceOnUse"
        x1="3.6848"
        y1="28.6667"
        x2="48.056"
        y2="28.6667"
      >
        <stop offset="0" style="stop-color: #079992" />
        <stop offset="1" style="stop-color: #0a3d62" />
      </linearGradient>
      <path
        class="st2"
        d="M48.06,38.11H22.58c-10.43,0-18.89-8.46-18.89-18.89v0h25.48C39.6,19.22,48.06,27.68,48.06,38.11L48.06,38.11z
         "
      />
    </g>
    <rect x="81.33" y="40.22" style="fill: none" width="36.67" height="1.11" />
  </svg>
  <span>SPECTRE</span>

  <span class="example-spacer"></span>
  <nav>
    <a routerLink="/teams" routerLinkActive="active">Teams</a>
    <a routerLink="/dashboards" routerLinkActive="active"> Dashboards </a>
    <a routerLink="/statistics" routerLinkActive="active"> Statistics </a>
    <a mat-button [matMenuTriggerFor]="logOutMenu">
      {{ userLoggedIn.firstName }}
    </a>
    <mat-icon>perm_identity</mat-icon>
  </nav>
</mat-toolbar>
<mat-menu #logOutMenu="matMenu">
  <button mat-menu-item (click)="logOut()">Log out</button>
</mat-menu>
