@import "../../../../scss-helpers/variables";

.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  width: 80%;
  position: absolute;
  top: 3%;
  left: 10%;
  border-radius: 70px 3px;
  padding: 2% 4% 2% 2.5%;
  color: white;
  background: none;
  animation: headerIntro 0.6s;
  @keyframes headerIntro {
    0% {
      opacity: 0;
      width: 0%;
    }
    30% {
      opacity: 0;
    }
    100% {
      width: 80%;
      opacity: 1;
    }
  }
  svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  span {
    margin-top: 3px;
    font-family: "Audiowide", cursive;
    font-size: 1.5em;
    color: white;
  }
  svg,
  span,
  a {
    cursor: pointer;
  }
  nav {
    transition: 0.1s;
    padding: 1em;
  }
  a {
    text-decoration: none;
    background: none;
    padding: 0.5em 0.3em;
    font-size: 1em;
    border: none;
    outline: none;
    font-family: "Raleway", sans-serif;
    margin-right: 15px;
    color: white;
    transition: 0.2s ease-in-out;

    &:hover,
    &.active {
      font-weight: 700;
      font-size: 1.1em;
    }
    &.active {
      border-bottom: 2px solid $spectre-light-green;
    }
    &:nth-child(4) {
      margin-left: 40px;
      font-size: 1em;
      font-weight: 400;
      position: relative;
      &:hover {
        border-bottom: none;
      }
    }
  }
  mat-icon {
    position: absolute;
    font-size: 2em;
    top: 23%;
  }
}
